.title{
	font-family: 			'VT323';
}	
.subtitle{
	font-family:  			'Permanent Marker';
	font-size:  			20px;
}
.memory{
	background-color: 		#7FFF00;
	margin-left:			10px;
	margin-top:  			10px;
	margin-bottom:  		10px; 
	font-family:			'Special Elite';
	font-size:  			25px;
}
.input{
	color: 					#51a300;
	background-color: 		#7FFF00;
	margin-left:			10px;
	margin-right:			10px;
	height: 				10%;
	font-family:			'Special Elite';
	font-size:  			25px;
}
.result{
	background-color:		gray;
	color:					black;
	margin-left:			120px;
	margin-right:			10px;
	height:					80px;
	font-style:				italic;
	font-weight:			bold;
	font-family:			'Special Elite';
	font-size:  			25px;
}
div{
	margin-left: 			15px;
	margin-right: 			15px;
}
#calc{
	height: 				50%;
	background-color: 		powderblue;
	border-color: 			black;
	font-family:  			'VT323';
	font-size:  			25px;
}
#clear{
	background-color:		#ff0000;
}
#clear:active{
	background-color:		#cc0000;
}
#equals{
	background-color:		#ff0000;
	font-family:  			'Permanent Marker';
}
#equals:active{
	background-color:		#cc0000;
	font-family:  			'Permanent Marker';
}
.key{
	background-color: 		#FFA500;
	height:					50px;
	font-family:			'Special Elite';
	font-size:  			25px;
}
.key:active{
	background-color: 		#cc8400;
	height:					50px;
	font-family:			'Special Elite';
	font-size:  			25px;
}
.op{
	background-color:  		#FF5733;
}
.op:active{
	background-color:  		#cc4528;
}
